
.slide-2{
    
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;


}

.bento-box{
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.sliders{
    /* background-color: rgba(70, 70, 70, 0.88); ,rgba(70, 70, 70, 0.88),rgba(70, 70, 70, 0.88)*/
    background: linear-gradient(rgba(54, 54, 54, 0.88),rgba(54, 54, 54, 0.88));

    z-index: 2;
    border-radius: 40px;
    
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    transition: all 0.92s ease;

}
.sliders:hover{
    background: linear-gradient(rgba(54, 54, 54, 0.88) 84%,rgba(0, 0, 0, 0.452));
    transition: background-color 0.92s ease;
}


@keyframes appear {
    from{
        scale: 0.6;
        opacity: 10%;
    }
    to{
        scale: 1;
        opacity: 100%;
    }
}

#right-main{
    height: 95%;
    width: 30%;
    display: flex;
    filter: blur(2px);
    transition: all 0.06s ease ;

}
#right-main:hover{
    scale: 1.02;
    transition: all 0.06s ease ;

}
#left-main{
    background-color: rgba(0,0,0,0);
    height: 95%;
    width: 63.3%;

    display: flex;
    flex-direction: column;
    gap: 24px;

}
#summary-box{
    height: 47.3%;
    width: 100%;
    display: flex;
    transition: all 0.06s ease ;


}
#profile-box{
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 49.4%;
    width: 100%;

}
#block1{
    height: 100%;
    width: 50%;
    transition: all 0.06s ease ;

}
#block1:hover{
    scale: 1.02;
    transition: all 0.06s ease ;

}

#pfp{
    height: 100%;
    width: 49.4%;
    aspect-ratio: 1/1;
}
.pfp-img{
    width: 100%;
    object-fit: contain;
    border-radius: 40px;

    filter: blur(5px) brightness(0.8);

    transition: all 0.06s ease ;
}
.pfp-img:hover{
    filter: blur(0) brightness(1);
    scale: 1.02;
    transition: all 0.06s ease ;

}

.summary{
    color: rgb(152, 162, 247);
    font-family: "Space Grotesk", sans-serif;
    font-size: clamp(16px,2vw,26px);
    font-weight: 700;
    margin: 20px;
}
#summary-box:hover{
    scale: 1.02;
    transition: all 0.06s ease ;

}
.head1{
    font-size: 28px;
    font-weight: 900;
}

.summary span{
    color: grey;
}
.summary span:hover{
    color: rgb(194, 194, 194);
}

@media screen and (max-width: 1280px) {
    .bento-box{
        width: 1050px;
        height: 700px;
        transition: all 0.8s ease;
    }
}
@media screen and (max-width: 1100px) {
    .bento-box{
        width: 900px;
        height: 600px;
        transition: all 0.8s ease;
    }
}
@media screen and (max-width: 900px) {
    .bento-box{
        width: 750px;
        height: 500px;
        transition: all 0.8s ease;
    }
}
@media screen and (max-width: 700px) {
    .bento-box{
        width: 600px;
        height: 800px;
        transition: all 0.8s ease;
        flex-direction: column;
    }
    #right-main{
        height: 100%;
        width: 90%;
        display: flex;
        filter: blur(2px);
    }
    #left-main{
        height: 100%;
        width: 90%;
    
        display: flex;
        flex-direction: column;
        gap: 24px;
    
    }
}
@media screen and (max-width: 480px) {
    .bento-box{
        width: 400px;
        height: 500px;
        transition: all 0.8s ease;
        flex-direction: column;
    }
    #right-main{
        height: 100%;
        width: 85%;
        display: flex;
        filter: blur(2px);
    }
    #left-main{
        height: 100%;
        width: 85%;
    
        display: flex;
        flex-direction: column;
        gap: 24px;
    
    }
}