.slide-2{
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;

    display: none;
}

.bento-box{
    max-width: 1200px;
    max-height: 800px;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.sliders{
    background-color: rgba(70, 70, 70, 0.88);

    z-index: 2;
    display: flex;
    border-radius: 40px;
}
#right-main{
    min-height: 760px;
    min-width: 360px;
    filter: blur(2px);
    display: flex;
}
#left-main{
    background-color: rgba(0,0,0,0);
    /* max-height: 760px;
    max-width: 760px; */

    display: flex;
    flex-direction: column;
    gap: 24px;

}
#summary-box{
    height: 360px;
    width: 760px;
    display: flex;

}
#profile-box{
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: row;
    gap: 24px;

}
#block1{
    height: 376px;
    width: 360px;
}
#pfp{
    max-height: 376px;
    max-width: 376px;
}
.pfp-img{
    max-width: 376px;
    object-fit: cover;
    border-radius: 40px;

    filter: blur(15px) brightness(0.8);
    transition: all 4s ease-in ;
}
.pfp-img:hover{
    filter: blur(0) brightness(1);
    scale: 1.051;
    transition: all 0.71s ease ;
}

.summary{
    color: rgb(152, 162, 247);
    font-family: "Space Grotesk", sans-serif;
    font-size: clamp(16px,2rem,26px);
    font-weight: 700;
    margin: 20px;
}
.head1{
    font-size: 28px;
    font-weight: 900;
}

.summary span{
    color: grey;
}
.summary span:hover{
    color: rgb(194, 194, 194);
}